.lista2 .ul {
  counter-reset: li;
  list-style: none;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  margin: 0 2em 2em 2em;
}

ul li{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .6em 1em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}

ul li:hover{
  background: #eee;
}

ul li:hover:before{
  transform: rotate(360deg);
}

ul li:before{
  content: '\2022'; /* Código Unicode para el punto */
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
.card-title {
  /* Estilos del título */
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  margin-left: 15px;
}

:host {
  display: block;
  overflow-y: auto;
  height: 550px;
}
